:root {
    /* Colours */
    --color-text: #514d4d;
    --color-primary: #FFF2E1;
    --color-secondary: #EAD8C0;
    --color-dark: #A79277;
    --color-bg: #D1BB9E;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }
  